# macOS
.DS_Store

# byte-compiled modules
__pycache__/
*.pyc

# distribution files
build/
dist/
sdist/
var/
*.egg-info/
*.egg
MANIFEST

# local data files
data/
*.duckdb

# sphinx documentation
docs/_build/

# jupyter notebook
.ipynb_checkpoints

# virtual environments
.env
.venv
env/
venv/
